<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.3.7/dist/css/bootstrap-theme.css">
    <script src="/static/vendor/jquery-3.2.1/jquery-3.2.1.js"></script>
    <script src="/static/vendor/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
    <script src="/static/vendor/vue/dist/vue.js"></script>
</head>
<body>
<div id="app" class="bg-danger" style="width: 500px;height: 200px">
    <span>{{ message }}</span>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>
</body>
</html>